---
import Container from "@components/container.astro";
import Hero from "@components/tvdhero.astro";
import Layout from "@layouts/Layout.astro";
import Features from "@components/tvdfeatures.astro";
import Newsletter from "@components/tvdnewsletter.astro";
import Testimonials from "@components/tvdtestimonials.astro";
import Faq from "@components/faq.astro";

import { changeLanguage } from "i18next";
import { t, changeLanguage } from "i18next";
changeLanguage("en");


---
<Layout  title="TikTokio - TikTok Downloader - Download TikTok Videos Without Watermark" description="TikTokio is Fastest TikTok video downloader! Save TikTok videos in HD with two taps, fast and free. With or without a watermark online. Start now for high-quality downloads!">
<Container>
    <Hero heading="Download TikTok Video Without Watermark" subheading="Download TikTok Video Without Watermark | TikTok Video Downloader"/>
    <div class="content">
      <div class="relative p-4">
        <div class="max-w-screen-xl mx-auto">
          <div class="mt-3 rounded-b lg:rounded-b-none lg:rounded-r flex flex-col justify-between leading-normal">
                <Features />
                <Newsletter />
                <Testimonials />
                <Faq />

          </div>
       </div>
      </div>
</div>
</Container>
</Layout>
