---
import Container from "@components/container.astro";
import Hero from "@components/hero.astro";
import Layout from "@layouts/LayoutIT.astro";
import Features from "@components/dtvfeatures.astro";
import Newsletter from "@components/dtvnewsletter.astro";
import Testimonials from "@components/dtvtestimonials.astro";
import Faq from "@components/faq.astro";

import { changeLanguage } from "i18next";
import { t, changeLanguage } from "i18next";
changeLanguage("it");

const title = `TikTokio - Scarica video TikTok senza filigrana TikTok Downloader`;
const description = `TikTokio è il downloader di video di TikTok più veloce! Salva i video di TikTok in HD con due tocchi, veloce e gratuito. Con o senza filigrana online. Inizia subito per scaricare video di alta qualità!`;

---
<Layout title={title} description={description}>
<Container>
    <Hero heading="Scarica video TikTok senza filigrana" subheading="Scarica video di TikTok senza filigrana | TikTok Video Downloader"/>
    <div class="content">
      <div class="relative p-4">
        <div class="max-w-screen-xl mx-auto">
          <div class="mt-3 rounded-b lg:rounded-b-none lg:rounded-r flex flex-col justify-between leading-normal">
                <Features />
                <Newsletter />
                <Testimonials />
                <Faq />

          </div>
       </div>
      </div>
</div>
</Container>
</Layout>
