---
import Container from "@components/container.astro";
import Hero from "@components/it/hero.astro";
import Layout from "@layouts/Layout.astro";
import Features from "@components/it/features.astro";
import Newsletter from "@components/it/newsletter.astro";
import Testimonials from "@components/it/testimonials.astro";
import Faq from "@components/it/faq.astro";
import { changeLanguage } from "i18next";
import { t, changeLanguage } from "i18next";
changeLanguage("it");


---
<Layout  title="TikTokio - TikTok Downloader - Scarica video TikTok senza filigrana" description="TikTokio è uno strumento per scaricare video da TikTokio, che consente di scaricare online video di TikTokio senza filigrana in modo semplice, scaricare video da TikTokio e scaricare gratuitamente video di TikTokio in formato mp4.">
<Container>
    <Hero />
    <div class="content">
      <div class="relative p-4">
        <div class="max-w-screen-xl mx-auto">
          <div class="mt-3 rounded-b lg:rounded-b-none lg:rounded-r flex flex-col justify-between leading-normal">
                <Features />
                <Newsletter />
                <Testimonials />
                <Faq />

          </div>
       </div>
      </div>
</div>
</Container>
</Layout>
