---
import Container from "@components/container.astro";
import Hero from "@components/hero.astro";
import Layout from "@layouts/LayoutIT.astro";
import Features from "@components/tdfeatures.astro";
import Newsletter from "@components/tdnewsletter.astro";
import Testimonials from "@components/tdtestimonials.astro";
import Faq from "@components/faq.astro";

import { changeLanguage } from "i18next";
import { t, changeLanguage } from "i18next";
changeLanguage("it");

const title = `TikTokio - Scarica i video di TikTok in MP4 senza filigrana`;
const description = `TikTokio è uno strumento per scaricare video da TikTokio, che consente di scaricare online video di TikTok senza filigrana in modo semplice, scaricare video da TikTok e scaricare gratuitamente video di TikTok in formato mp4.`;


---
<Layout title={title} description={description}>
<Container>
    <Hero heading="Scaricatore di video TikTok online" subheading="Scarica e salva i video di TikTok senza filigrana"/>
    <div class="content">
      <div class="relative p-4">
        <div class="max-w-screen-xl mx-auto">
          <div class="mt-3 rounded-b lg:rounded-b-none lg:rounded-r flex flex-col justify-between leading-normal">
                <Features />
                <Newsletter />
                <Testimonials />
                <Faq />

          </div>
       </div>
      </div>
</div>
</Container>
</Layout>
