---
import Container from "@components/container.astro";
import Hero from "@components/fdhero.astro";
import Layout from "@layouts/Layout.astro";
import Features from "@components/fdfeatures.astro";
import Newsletter from "@components/fdnewsletter.astro";
import Testimonials from "@components/fdtestimonials.astro";
import Faq from "@components/faq.astro";

import { changeLanguage } from "i18next";
import { t, changeLanguage } from "i18next";
changeLanguage("it");

const title = `TikTok - Scarica foto e presentazioni di TikTok senza filigrana`;
const description = `TikTok Photo Downloader è uno strumento per scaricare foto e presentazioni di TikTok senza filigrana, scaricare foto e video di presentazioni di TikTok senza logo.`;

---
<Layout title={title} description={description}>
<Container>
		<Hero heading="TikTok - Scaricatore di foto e presentazioni di TikTok" subheading="Scarica presentazione e foto di TikTok senza filigrana online"/>
    <div class="content">
      <div class="relative p-4">
        <div class="max-w-screen-xl mx-auto">
          <div class="mt-3 rounded-b lg:rounded-b-none lg:rounded-r flex flex-col justify-between leading-normal">
                <Features />
                <Newsletter />
                <Testimonials />
                <Faq />

          </div>
       </div>
      </div>
</div>
</Container>
</Layout>
